{% extends 'restro/base.html'%}
{%block cityscript%}
 <script src="https://firebasestorage.googleapis.com/v0/b/foodelivery-682b7.appspot.com/o/Js%2Fcities.js?alt=media&token=52d3dfec-a505-4493-8b2a-9aa187c801df"></script>
{%endblock%}
{%block body%}
<div class="container my-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form method="post" action="/restro/registration">{%csrf_token%}
                <fieldset style="border:solid 1px gray; padding:20px;">
                    <h2 class="my-2" style="text-align:center;" >Restaurant Register</h2>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="name" placeholder="name" name="restro_name" required>
                        <label for="name">Restaurant Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="owner_name" placeholder="Password" name="owner_name" required>
                        <label for="owner_name">Owner Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email" required>
                        <label for="floatingInput">Email address</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="pass" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" id="re_pass" placeholder="Password" name="re_pass" required>
                        <label for="re_pass">Re-enter Password</label>
                    </div>
                    <div class=" mb-3 input-group">
                        <span class="input-group-text" id="basic-addon1">+91</span>
                        <input type="tel" class="form-control" id="owner_phone" placeholder="Owner Phone" name="owner_phone" aria-describedby="basic-addon1" required>

                    </div>
                    <div class=" mb-3 input-group">
                        <span class="input-group-text" id="basic-addon2">+91</span>
                        <input type="tel" class="form-control" id="restro_phone" placeholder="Restaurant Phone" name="phone" aria-describedby="basic-addon2" required>

                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="address" placeholder="Password" name="address" required>
                        <label for="address">Address</label>
                    </div>
                    <div class="row mb-3">
                    <div class=" col-md-4">
                        <label for="state" class="form-label">City</label>
                        <select id ="state" class="form-select" required name="city">

                            </select>
                    </div>
                    <div class="col-md-4">
                        <label for="sts" class="form-label">State</label>
                        <select class="form-select" onchange="print_city('state', this.selectedIndex);" id="sts" name ="stt" required>

                        </select>
                    </div>
                        <div class="col-md-4">
                            <label for="zipcode" class="form-label">Zip</label>
                        <input type="tel" class="form-control" id="zipcode" placeholder="Zipcode" name="zip" required>

                    </div>

                    </div>
                    <div class="my-2">
                        <button class="btn btn-success" type="submit">Register</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<script language="javascript">print_state("sts");</script>
{%endblock%}